@import url(http://weloveiconfonts.com/api/?family=iconicfill);
[class*="iconicfill-"]::before {
  font-family: "IconicFill", sans-serif;
  font-size: 1.2rem;
}
* {
  box-sizing: border-box;
}
html,
body,
.dashboard {
  width: 100%;
  height: 100%;
}
html,
body,
input,
textarea {
  font: 300 1rem "Ubuntu", Helvetica, Verdana, sans-serif;
}
h1,
h2 {
  color: #333;
}
h1 {
  font: 700 1.75rem "Ubuntu", Helvetica, Verdana, sans-serif;
  border-bottom: 0.5rem solid #2c3e50;
  margin: 0 0 2rem 0;
}
h2 {
  font: 700 1.5rem "Ubuntu", Helvetica, Verdana, sans-serif;
  margin: 0 0 1rem 0;
}
h3 {
  font-weight: 500;
}
p {
  margin: 0 0 1rem 0;
}
.dashboard {
  font: 300 1rem "Ubuntu", Helvetica, Verdana, sans-serif;
  display: flex;
  flex-flow: row wrap;
  height: auto;
}
aside {
  background: #2c3e50;
  flex: 2 1 0%;
  order: 1;
}
aside li a,
aside .search {
  display: block;
  color: #ecf0f1;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid #34495e;
  transition: background 0.15s ease;
}
aside li a:hover,
aside .search:hover,
aside li a:active,
aside .search:active,
aside li a:focus,
aside .search:focus {
  background: #34495e;
}
aside li a::before,
aside .search::before {
  display: inline-block;
  width: 1.5rem;
}
aside .search input {
  width: 80%;
}
main {
  background: #ecf0f1;
  flex: 6 1 0%;
  order: 2;
  padding: 1rem 0 1rem 1rem;
}
main .overview {
  min-height: 100vh;
}
main .overview .widget-container {
  display: flex;
  flex-flow: row wrap;
}
main .overview .widget-container .widget {
  background: #bdc3c7;
  flex: 6 1 0%;
  margin: 0 1rem 1rem 0;
  min-width: 15rem;
}
main .overview .widget-container .widget header {
  background: #2c3e50;
  color: #ecf0f1;
  padding: 1rem;
}
main .overview .widget-container .widget header h3::before {
  display: inline-block;
  width: 1.5rem;
}
main .overview .widget-container .widget .content {
  padding: 1rem;
}
main .overview .widget-container .widget .content li {
  list-style-type: square;
  margin: 0 0 0 1rem;
}
main .overview .widget-container .widget .content .ok::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: #27ae60;
  border-radius: 50%;
  margin: 0 1rem 0 0;
}
main footer p {
  text-align: right;
  font-size: 0.85rem;
}
